name: CI

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main

jobs:
  build:
    name: Native ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, ubuntu-24.04-arm, macos-latest, windows-latest]

    steps:
      - uses: actions/checkout@v6
      - name: Build and test
        run: |
          mkdir -p build && cd build
          cmake -DENABLE_NETIF_TESTS=ON ..
          cmake --build .
          ctest --verbose

      # List network interfaces to compare against test output
      - run: ifconfig
        if: runner.os != 'Windows'
      - run: ipconfig
        if: runner.os == 'Windows'
